//map css
.sidebarStyle {
  display: inline-block;
//   position: absolute;
//   top: 0;
//   left: 0;
  margin: 12px;
//   background-color: black;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

